
body{
    background-color: bisque;
}
#image{
    max-width: 100%;
    width: 100%;
    height: auto;
    display:block;
    margin:20px auto;
}
main{
    text-align: center;
}

h1,#img-caption{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#img-caption{

    font-weight: 900;
    font-size: 20px;
}